.rj-row {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    &.rj-row__timeline-item {
        padding-left: 10px;
        margin-left: 10px;
        border-left: solid 2px white;
        align-items: end;
        padding-bottom: 24px;
    }
    .rj-col {  
        display: flex;
        flex: 1 1 auto;
    }
    .rj-row__marker {
        padding-right: 15px;
    }
}
.rj-grid {
    display: grid;
    grid-gap: 2px;
    @media only screen and (min-width : 380px) and (max-width : 768px) {
        grid-template-columns: 100%;
    }
    @media only screen and (min-width : 768px) and (max-width : 1224px) {
        grid-template-columns: 50% 50%;
    }
    @media screen and (min-width : 1224px) {
        grid-template-columns: 25% 25% 25% 25%;
    }
}