$background-color: #1E1E1E;
$font-primary-color: #9CDCFE;
$font-primary-hover-color: #6CACCE;
$font-secondary-color: #71C48E;
$font-yellow-color: #ffc107;

$scrollbar-track-color: #666666;
$scrollbar-handle-color: $font-primary-color;
$scrollbar-handle-hover-color: $font-primary-hover-color;