@import './variables';
html, body {
    display: flex;
    flex: 1 1 auto;
    height: 100vh;
    margin: 0px;
    color: $font-primary-color;
    background-color: $background-color;
}
* {
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}