<ng-scrollbar thumbClass="custom-scrollbars" viewClass="rj-ng-container">
  <div class="rj-container">
    
    <h1 class="color-white text-title">
      I'm Rj Alves
    </h1>
    <h1 id="aboutMe">
      <a href="#aboutMe"># about me;</a>
    </h1>
    <app-about-me></app-about-me>
    <h1 id="summary">
      <a href="#summary"># summary;</a>
    </h1>
    <app-brief></app-brief>
    <h1 id="skills">
      <a href="#skills"># skills;</a>
    </h1>
    <app-skills></app-skills>
    <h1 id="workExperience">
      <a href="#workExperience"># work experience;</a>
    </h1>
    <app-experience></app-experience>
    <h1 id="education">
      <a href="#education"># education;</a>
    </h1>
    <app-education></app-education>
  </div>
</ng-scrollbar>
